@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Russo One", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --color-accent-green: #1cd19f;
  --color-custom-pink: #FFD7DF;
  --color-custom-purple: #5817FF;
  --color-custom-dark-purple: #0d0b42;
  --color-bg-gray: #f6f8fa;
}
